xml-schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="publishers">
  <xs:complexType>
      
   <xs:element name="publisher">
    <xs:complexType>
         <xs:sequence>
          <xs:element name="publisherID" type="xs:integer"/>
          <xs:element name="publisherName" type="xs:string"/>
          <xs:element name="publisherYear" type="xs:integer"/>
         </xs:sequence>
    </xs:complexType>
   </xs:element>
 
  </xs:complexType>
</xs:element>

</xs:schema>
